.yellow {
    background-color: #fdbb40;
    height: 100px;
}

.beige {
    background-color: #fff5e2;
}

.magenta {
    background-color: #d33359;
}

h1{
    margin-top: 32px;
}

.col-4 img{
    width: 220px;
}

.col-12 img{
    width: 50px;
    margin: 30px 13px 43px 0;
}

h2{
    margin-top: 40px;
}

h3{
    margin-top: 20px;
    margin-bottom: 13px;
}

.btn{
    margin-top: 13px;
    margin-bottom: 150px;
    font-weight: bold;
}
.text{
    color: white;
}

label:nth-child(4){
    color: #d33359;
}

.bold{
    font-weight: bold;
}

.col-12 input{
    margin: 13px 13px;
}

.col-8 input{
    background-color:  #fff5e2;
}